<!DOCTYPE html>
<html lang="en">
<html>
 <head>
   <title>Founders</title>
 </head>
 <body>
  <h1>Find out how many billionares were founders in different years!!!</h1>
  <form action="/founderFacts">
   <input type="radio" id="1996" name="year" value="1996">
   <label for="1996">1996</label><br>
   <input type="radio" id="2001" name="year" value="2001">
   <label for="2001">2001</label><br>
   <input type="radio" id="2014" name="year" value="2014">
   <label for="2014">2014</label>
   <br><br>
   <input type="submit" value="Get a fact">
  </form>
 </body>
</html>
